@import url(http://fonts.googleapis.com/css?family=Nunito:300,400,700);

@media only screen and (max-device-width: 480px) {
  body {
    font-size: 80%;
  }
}

.container {
  margin: auto;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.55);
}
@media only screen and (min-device-width: 480px) {
  .container {
    max-width: 26.25em;
    min-width: 18.75em;
  }
}
.container > div {

  position: relative;
  padding: 2em;
  padding-bottom: 2em;
}

h3 {
  font-size: 1em;
  margin-bottom: 1em;
  line-height: 1;
  padding-bottom: 1.125em;
  font-weight: 400;
  border-bottom: 0.1875em solid;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px dashed;
}

input {
  font-size: 1em;
  line-height: 1;
  color: inherit;
  outline: none;
  border: none;
  background: none;
}

input[type="text"] {
  padding-left: 0.375em;
  padding-right: 0.375em;
  text-transform: capitalize;
  width: 80%;
}

input[type="checkbox"] {
  position: relative;
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  bottom: 0.125em;
}
input[type="checkbox"]:before, input[type="checkbox"]:after {
  display: block;
  position: absolute;
  box-sizing: border-box;
  cursor: pointer;
  font: 1em FontAwesome;
  width: 1em;
  height: 1em;
}
input[type="checkbox"]:before {
  content: "";
  border: 0.125em solid;
  border-radius: 0.3125em;
  box-shadow: inset 0em 0.0625em 0.0625em rgba(0, 0, 0, 0.67), 0em 0.0625em 0em rgba(255, 255, 255, 0.4);
  opacity: .3;
}
input[type="checkbox"]:after {
  content: "\f00c";
  bottom: 0.0625em;
  left: 0.0625em;
  opacity: 0;
}
input[type="checkbox"]:hover:after {
  opacity: 1;
}
input[type="checkbox"]:checked:after {
  opacity: 1;
}
input[type="checkbox"]:checked:before {
  opacity: 0;
  background: -webkit-linear-gradient(#2d3139, transparent);
  background: linear-gradient(#2d3139, transparent);
}
@media only screen and (max-device-width: 480px) {
  input[type="checkbox"]:checked:before {
    opacity: 1;
  }
  input[type="checkbox"]:checked:after {
    opacity: 1;
    color: #ebebeb;
  }
}

#displayTask {
  display: none;
}
#displayTask .delete-btn {
  display: none;
}
#displayTask input[type="checkbox"] {
  display: none;
}

.delete-btn {
  position: absolute;
  font-size: 1em;
  line-height: 1.5;
  font-family: FontAwesome;
  cursor: pointer;
  right: -0.5em;
  visibility: hidden;
  -webkit-transition: .2s ease-in;
          transition: .2s ease-in;
}
.delete-btn:after {
  content: "\f040";
}
.delete-btn:hover:after {
  content: "\f00d";
}

li {
  position: relative;
}
li:hover .delete-btn {
  right: 0.5em;
  visibility: visible;
}

.uncompleted {
  background-color: #FFF;
  border-top-right-radius: 1.3125em;
  border-top-left-radius: 1.3125em;
  color: darkgray;
  border-color: #8d96a5;
}
.uncompleted li:hover {
  color: #5a6372;
}
.uncompleted li:hover input[type="checkbox"]:after {
  color: #8d96a5;
  opacity: 1;
}
.uncompleted li:hover input[type="checkbox"]:hover:after {
  color: #5a6372;
  opacity: 1;
}

.completed {
  background-color: slategray;
  color: #2d3139;
  border-color: #2d3139;
  border-bottom-right-radius: 0.3125em;
  border-bottom-left-radius: 0.3125em;
}
.completed input[type="text"] {
  text-decoration: line-through;
}
.completed input[type="text"]:focus {
  color: #1b1e22;
  text-decoration: none;
}
.completed li:hover {
  color: #1b1e22;
}
.completed li:hover input[type="checkbox"]:checked:after {
  color: #ebebeb;
  opacity: 0.8;
}
.completed li:hover input[type="checkbox"]:checked:hover:after {
  opacity: 1;
}
.completed li:hover input[type="checkbox"]:checked:before {
  opacity: 1;
}
